<!DOCTYPE html>
<html lang="en" data-layout-decorator="layouts/default-layout">
	<head>
		<meta charset="UTF-8" data-th-remove="all" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" data-th-remove="all" />
		<meta name="viewport" content="width=device-width, initial-scale=1"
		  data-th-remove="all" />
		<meta name="description"
		  content="A next-generation rapid application development tool for Java developers.
		  With Roo you can easily build full Java applications in minutes."
		  data-th-remove="all" />
		<meta name="author"
		  content="Spring Roo Team"
		  data-th-remove="all" />

    <link rel="shortcut icon" href="../../static/public/img/favicon.ico"
      data-th-remove="all" />

    <link rel="apple-touch-icon" href="../../static/public/img/apple-touch-icon.png"
      data-th-remove="all" />

		<title data-th-text="#{label_edit_entity(#{label_customerorder})}">Edit Order -
	  Spring Roo application</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"
      data-th-remove="all"></link>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css"
      data-th-remove="all"></link>

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"
    data-th-remove="all" />

    <!-- Bootswatch CSS custom -->
    <link rel="stylesheet" type="text/css"
      href="../../static/public/css/theme.css"
      data-th-remove="all" />

    <!-- Roo CSS -->
    <link rel="stylesheet" type="text/css"
      href="../../static/public/css/springroo.css"
      data-th-remove="all" />

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

		<!-- Select2 -->
		<link rel="stylesheet" type="text/css"
		  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.css"
		  data-th-href="@{/webjars/select2/4.0.2/dist/css/select2.css}" />
		<link rel="stylesheet" type="text/css"
		  href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.7/select2-bootstrap.css"
		  data-th-href="@{/webjars/select2-bootstrap-theme/0.1.0-beta.7/dist/select2-bootstrap.css}" />

	</head>
	<body>

	  <!--CONTAINER-->
	  <div class="container bg-container">

	    <!-- HEADER -->
	    <header role="banner">

	      <!-- BANNER -->
        <div class="bg-header">
          <div class="jumbotron bg-banner">
              <div class="container">
                <h1 class="project-name">Hello, we are Spring Roo!</h1>
                <h2 class="project-tagline">Get start your next awesome project</h2>
              </div>
          </div>
        </div>

        <!-- Main navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">

            <!-- navbar-header -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="Spring Roo Application" href="http://projects.spring.io/spring-roo/">
                  <img alt="Spring Roo Application" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs"><a href="/" data-th-href="@{/}">Spring Roo Application</a></div>

            </div>
            <!-- /navbar-header -->

            <!-- menu -->
            <div id="mainnav" class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Menu 1 active</a></li>
                <li><a href="#">Menu 2</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu 3 dropdown<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Submenu 1</a></li>
                    <li><a href="#">Submenu 2</a></li>
                    <li><a href="#">Submenu 3</a></li>
                  </ul>
                </li>
              </ul>

              <!-- User menu -->
              <ul class="nav navbar-nav navbar-right upper-nav session">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<span class="hidden-sm">User</span><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                   <li><a href="#"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;<span>Admin Profile</span></a></li>
                   <li><a href="#"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;<span>Change password</span></a></li>
                   <li><form action="/logout" method="post">
                     <button type="button" class="btn btn-link">
                      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                      <span>Log out</span>
                     </button>
                   </form></li>
                 </ul>
                </li>
              </ul>

              <!-- User menu links -->
              <ul class="nav navbar-nav navbar-right upper-nav links">
                <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<span class="hidden-sm">Contact</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;<span class="hidden-sm">Help</span></a></li>
              </ul>

           </div>

          </div>
        </nav>

	    </header>
	    <!--  /HEADER -->

	    <!--CONTENT-->
	    <section data-layout-fragment="content">
	      <div class="container-fluid content">
	        <!--
	         Only the inner content of the following tag "section" is included
	         within the template, in the section "content"
	        -->

	        <h1 data-th-text="#{label_edit_entity(#{label_customerorder})}">Edit
	          Order</h1>

	        <!-- FORM -->
	        <form class="form-horizontal" method="POST"
	          data-th-object="${customerOrder}"
	          data-th-action="@{/customerorders/{id}(id=*{id})}">
	          <input type="hidden" name="_method" value="PUT" />

	          <fieldset>
	            <div class="form-group">
	              <label for="status" class="col-md-3 control-label"
	                data-th-text="#{label_customerorder_status}">Status</label>
	              <div class="col-md-6">
	                <input type="text" class="form-control" data-th-field="*{status}"
	                  value="SENT" readonly="readonly" />
	              </div>
	            </div>

              <!-- TBC -->
	            <div class="form-group">
	              <label for="employee" class="col-md-3 control-label"
	                data-th-text="#{label_customerorder_employee}">Employee</label>
	              <div class="col-md-6">

	                <!-- Select2 -->
	                <select id="employee" class="dropdown-select" data-tags="true"
	                  style="width: 50%" data-placeholder="Select an option"
	                  data-allow-clear="true" data-id-field="employeeId"
	                  data-text-fields="firstName,lastName" data-ajax--url="/employees"
	                  data-ajax--cache="true" data-ajax--delay="250"
	                  data-ajax--data-type="json">
	                  <option data-th-unless="*{employee} == null"
	                    data-th-value="*{employee.id}"
	                    data-th-text="|*{employee.firstName} *{employee.lastName}|"
	                    selected="selected">Employee</option>
	                </select>
	              </div>
	            </div>

	            <!--  TBC  -->
	            <div class="form-group has-error has-feedback"
            data-th-classappend="${#fields.hasErrors('category')}? 'has-error has-feedback'"
            data-th-class="form-group">
            <label for="category" class="col-md-3 control-label"
              data-th-text="#{label_product_category}">Categoría</label>
            <div class="col-md-3">
              <select id="category" name="category" disabled="disabled"
                class="form-control dropdown-select-ajax"
                data-th-attr="data-placeholder=#{info_select_an_option},data-ajax--url=@{/categories}"
                data-th-title="#{info_required_field}" title="Campo obligatorio"
                data-id-field="categoryId" data-text-fields="name"
                data-ajax--url="/categories" data-ajax--cache="true"
                data-ajax--delay="250" data-ajax--data-type="json"
                data-th-remove="all-but-first">
                <option data-th-unless="*{category} == null"
                  data-th-value="*{category.id}" data-th-text="*{category.name}"
                  selected="selected" value="1">Golosinas</option>
                <option value="2">Bebidas</option>
                <option value="3">Condimentos</option>
              </select>
            </div>
          </div>


	            <div class="form-group"
	              data-th-classappend="${#fields.hasErrors('requiredDate')}? 'has-error has-feedback'">
	              <label for="requiredDate" class="col-md-3 control-label"
	                data-th-text="#{label_customerorder_requireddate}">Required
	                Date</label>
	              <div class="col-md-3">
	                <input type="text" class="form-control datetimepicker"
	                  data-th-field="*{requiredDate}"
	                  data-th-placeholder="#{label_customerorder_requireddate}"
	                  placeholder="Required Date" data-toggle="tooltip"
	                  data-th-title="#{label_requiredfield}" title="Required field"
	                  value="01/12/2016" /> <span
	                  data-th-classappend="${#fields.hasErrors('requiredDate')}? 'glyphicon glyphicon-remove form-control-feedback'"
	                  data-th-if="${#fields.hasErrors('requiredDate')}" aria-hidden="true"></span>
	                <span id="customerOrderRequiredDate-help" class="help-block alert"
	                  data-th-if="${#fields.hasErrors('requiredDate')}"
	                  data-th-errors="*{requiredDate}">Error message.</span>
	              </div>
	            </div>

	            <div class="form-group"
	              data-th-classappend="${#fields.hasErrors('freight')}? 'has-error has-feedback'">
	              <label for="freight" class="col-md-3 control-label"
	                data-th-text="#{label_customerorder_freight}">Shipping</label>
	              <div class="col-md-2">
	                <input type="text" class="form-control" data-th-field="*{freight}"
	                  data-th-placeholder="#{label_customerorder_freight}"
	                  placeholder="Shipping" data-toggle="tooltip"
	                  data-th-title="#{label_requiredfield}" title="Required field"
	                  value="5,70" /> <span
	                  data-th-classappend="${#fields.hasErrors('freight')}? 'glyphicon glyphicon-remove form-control-feedback'"
	                  data-th-if="${#fields.hasErrors('freight')}" aria-hidden="true"></span>
	                <span id="customerOrderFreight-help" class="help-block alert"
	                  data-th-if="${#fields.hasErrors('freight')}"
	                  data-th-errors="*{freight}">Error message.</span>
	              </div>
	            </div>

	            <div class="form-group"
	              data-th-classappend="${#fields.hasErrors('shipName')}? 'has-error has-feedback'">
	              <label for="shipName" class="col-md-3 control-label"
	                data-th-text="#{label_customerorder_shipname}">Shipping Name</label>
	              <div class="col-md-6">
	                <input type="text" class="form-control" data-th-field="*{shipName}"
	                  data-th-placeholder="#{label_customerorder_shipname}"
	                  placeholder="Shipping Name" data-toggle="tooltip"
	                  data-th-title="#{label_requiredfield}" title="Required field"
	                  value="Tranportes A" /> <span
	                  data-th-classappend="${#fields.hasErrors('shipName')}? 'glyphicon glyphicon-remove form-control-feedback'"
	                  data-th-if="${#fields.hasErrors('shipName')}" aria-hidden="true"></span>
	                <span id="customerOrderShipName-help" class="help-block alert"
	                  data-th-if="${#fields.hasErrors('shipName')}"
	                  data-th-errors="*{shipName}">Error message.</span>
	              </div>
	            </div>

	            <div class="form-group"
	              data-th-classappend="${#fields.hasErrors('shipAddress')}? 'has-error has-feedback'">
	              <label for="shipAddress" class="col-md-3 control-label"
	                data-th-text="#{label_customerorder_shipaddress}">Adress
	                Envío</label>
	              <div class="col-md-6">
	                <input type="text" class="form-control" data-th-field="*{shipAddress}"
	                  data-th-placeholder="#{label_customerorder_shipaddress}"
	                  placeholder="Adress" data-toggle="tooltip"
	                  data-th-title="#{label_requiredfield}" title="Required field"
	                  value="Avenida del Mediterráneo nº 2" /> <span
	                  data-th-classappend="${#fields.hasErrors('shipAddress')}? 'glyphicon glyphicon-remove form-control-feedback'"
	                  data-th-if="${#fields.hasErrors('shipAddress')}" aria-hidden="true"></span>
	                <span id="customerOrderShipAddress-help" class="help-block alert"
	                  data-th-if="${#fields.hasErrors('shipAddress')}"
	                  data-th-errors="*{shipAddress}">Error message.</span>
	              </div>
	            </div>

	            <div class="form-group"
	              data-th-classappend="${#fields.hasErrors('shipPostalCode')}? 'has-error has-feedback'">
	              <label for="postalCode" class="col-md-3 control-label"
	                data-th-text="#{label_customerorder_shippostalcode}">Postal
	                Code</label>
	              <div class="col-md-2">
	                <input type="text" class="form-control"
	                  data-th-field="*{shipPostalCode}"
	                  data-th-placeholder="#{label_customerorder_shippostalcode}"
	                  placeholder="Postal code" data-toggle="tooltip"
	                  data-th-title="#{label_requiredfield}" title="Required field"
	                  value="00000" /> <span
	                  data-th-classappend="${#fields.hasErrors('shipPostalCode')}? 'glyphicon glyphicon-remove form-control-feedback'"
	                  data-th-if="${#fields.hasErrors('shipPostalCode')}" aria-hidden="true"></span>
	                <span id="customerOrderShipPostalCode-help" class="help-block alert"
	                  data-th-if="${#fields.hasErrors('shipPostalCode')}"
	                  data-th-errors="*{shipPostalCode}">Error message.</span>
	              </div>
	            </div>

	            <div class="form-group"
	              data-th-classappend="${#fields.hasErrors('shipPhone')}? 'has-error has-feedback'">
	              <label for="shipPhone" class="col-md-3 control-label"
	                data-th-text="#{label_customerorder_shipphone}">Shipping Phone</label>
	              <div class="col-md-2">
	                <input type="text" class="form-control" data-th-field="*{shipPhone}"
	                  data-th-placeholder="#{label_customerorder_shipphone}"
	                  placeholder="Phone" data-toggle="tooltip"
	                  data-th-title="#{label_requiredfield}" title="Required field"
	                  value="000000000" /> <span
	                  data-th-classappend="${#fields.hasErrors('shipPhone')}? 'glyphicon glyphicon-remove form-control-feedback'"
	                  data-th-if="${#fields.hasErrors('shipPhone')}" aria-hidden="true"></span>
	                <span id="customerOrderShiPhone-help" class="help-block alert"
	                  data-th-if="${#fields.hasErrors('shipPhone')}"
	                  data-th-errors="*{shipPhone}">Error message.</span>
	              </div>
	            </div>
	          </fieldset>

	          <!-- FORM BUTTONS -->
	          <div class="form-group">
	            <div class="col-md-12">
	              <div class="pull-left">
	                <button type="reset" class="btn btn-default"
	                  onclick="location.href='list.html'"
	                  data-th-onclick="'location.href=\'' + @{/customerorders} + '\''" data-th-text="#{label_reset}">Cancel</button>
	              </div>
	              <div class="pull-right">
	                <input type="submit" value="Save" data-th-value="#{label_submit}" class="btn btn-primary" />
	              </div>
	            </div>
	          </div>
	        </form>
	        <!--   /FORM -->
	      </div>
	      <!--  /CONTENT -->
	    </section>
	  </div>
	  <!-- /CONTAINER-->

    <footer class="container">
      <small class="clearfix">
        Made with
        <a href="http://projects.spring.io/spring-roo/"
        target="_blank" data-th-text="Spring Roo © ${#calendars.format(#dates.createNow(),'yyyy')}|">
        Spring Roo &copy; 2016</a> •
        We <span class="glyphicon glyphicon-heart"></span>
        <a href="https://github.com/spring-projects/spring-roo/" target="_blank">Open source</a>
      </small>
    </footer>

	  <!-- JavaScript
	    ================================================== -->
	  <!-- Ubicado al final del documento para que las páginas carguen más rápido -->
	  <!-- JQuery -->
	  <script type="text/javascript" charset="utf8"
	    src="https://code.jquery.com/jquery-1.12.3.js"></script>

	  <!-- Bootstrap -->
	  <script type="text/javascript"
	    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>

	  <div data-layout-fragment="javascript">
	    <!-- Select2 -->
	    <script src="../../static/public/js/select2.full.js"
	      data-th-src="@{/public/js/select2.full.js}"></script>
	    <script src="../../static/public/js/select2.full-es.js"
	      data-th-src="@{/public/js/select2.full-es.js}"></script>
	    <script src="../../static/public/js/select2-defaults.js"
	      data-th-src="@{/public/js/select2-defaults.js}"></script>
	  </div>

	  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	  <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

	  <!-- Application -->
	  <script src="../../static/public/js/main.js"></script>

	</body>
</html>
