<!doctype html>
<html lang="en" data-layout-decorator="layouts/default-layout">
 <head> 
  <title data-th-text="#{label_edit_entity(#{label_category})}">Spring MVC RESTful - Find Products by name and description</title> 
 </head> 
 <body id="body"> 
  <!--CONTAINER--> 
  <div class="container bg-container"> 
   <!--START CONTENT--> 
   <section data-layout-fragment="content"> 
    <div class="container-fluid content"> 
     <h1 data-th-text="#{label_edit_entity(#{label_category})}">Edit Category</h1>
     <!--START FORM-->
     <form class="form-horizontal" method="GET" data-th-object="${formBean}" 
           data-th-action="${(#mvc.url('ProductsSearchThymeleafController#byNameAndDescription')).build()}">
        <fieldset> 
          <legend data-th-text="#{label_category_products}">Find Products by name and description</legend> 

          <div class="form-group" data-th-classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'"> 
            <label for="name" class="col-md-3 control-label" data-th-text="#{label_product_name}">Name</label> 
            <div class="col-md-3"> 
             <input data-th-field="*{name}" type="text" class="form-control" data-th-placeholder="#{label_product_name}" data-toggle="tooltip" /> 
             <span id="name-help" class="help-block alert" data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}">Help message.</span> 
            </div> 
          </div> 

          <div class="form-group" data-th-classappend="${#fields.hasErrors('description')}? 'has-error has-feedback'"> 
            <label for="description" class="col-md-3 control-label" data-th-text="#{label_product_description}">Description</label> 
            <div class="col-md-3"> 
             <input data-th-field="*{description}" type="text" class="form-control" data-th-placeholder="#{label_product_description}" data-toggle="tooltip" /> 
             <span id="name-help" class="help-block alert" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Help message.</span> 
            </div> 
          </div> 

          <!-- FORM BUTTONS --> 
          <div class="form-group"> 
            <div class="col-md-12"> 
              <div class="pull-left"> 
                <button type="reset" class="btn btn-default" data-th-text="#{label_reset}">Reset</button> 
              </div> 
              <div class="pull-right"> 
                <button type="submit" value="Accept" data-th-value="#{label_search}" class="btn btn-primary">Search</button> 
              </div> 
            </div> 
          </div>
        </fieldset>
      </form>
     <!--END FORM--> 
    </div> 
    <!--END CONTENT--> 
   </section>

  </div>
  <!-- /CONTAINER--> 

  <!-- Javascript fragment for this page --> 
  <div data-layout-fragment="javascript">
    <script type="text/javascript" data-th-inline="javascript">
      // IIFE - Immediately Invoked Function Expression
      (function(list) {
      
        // The global jQuery object is passed as a parameter
        list(window.jQuery, window, document);
      
      }(function($, window, document) {
      
        // The $ is now locally scoped, it won't collide with other libraries 
      
        // Listen for the jQuery ready event on the document
        // READY EVENT BEGIN
        $(function() {
        
          // Put this page local javascript here!
          
        });
         
        // READY EVENT END
      }));
    </script>
  </div>
 </body>
</html>