<!DOCTYPE html> 
<html lang="en" data-layout-decorator="layouts/list-layout">
 <head> 
  <title data-th-text="|#{label_list_entity(#{label_product_plural})} - petclinic|">List Product - petclinic</title> 
 </head> 
 <body id="body"> 
  <!--CONTAINER--> 
  <div class="container bg-container">
   <!-- CONTENT --> 
   <!--
   Only the inner content of the following tag "section" is included
   within the template, in the section "content"
   --> 
   <section data-layout-fragment="content">
    <div class="container-fluid content">
     <h1 data-th-text="#{label_product_plural}">Products</h1>
     <div data-th-replace="products/table::table(null, null, null, null, null, null)"></div> 
    </div>
    <!-- /CONTENT-->
   </section>
  </div>
  <!-- /CONTAINER--> 

  <!-- Javascript fragment for this page --> 
  <div data-layout-fragment="javascript">
    <script type="text/javascript" data-th-inline="javascript">
      // IIFE - Immediately Invoked Function Expression
      (function(list) {
      
        // The global jQuery object is passed as a parameter
        list(window.jQuery, window, document);
      
      }(function($, window, document) {
      
        // The $ is now locally scoped, it won't collide with other libraries 
      
        // Listen for the jQuery ready event on the document
        // READY EVENT BEGIN
        $(function() {
        
          // Put this page local javascript here!
          
        });
         
        // READY EVENT END
      }));
    </script>
  </div>
 </body>
</html>