<div data-th-fragment="petModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('PetsCollectionThymeleafController')}">
  <table id="pet-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
    <thead>
      <tr>
        <th data-data="name" data-th-text="#{label_pet_name}">name</th>
        <th data-data="weight" data-th-text="#{label_pet_weight}">weight</th>
        <th data-data="type" data-th-text="#{label_pet_type}">type</th>
      </tr>
    </thead>
    <tbody data-th-remove="all">
      <tr>
        <td>name</td>
        <td>weight</td>
        <td>type</td>
      </tr>
    </tbody>
  </table>
</div>