<!DOCTYPE html> 
<html data-layout-decorator="layouts/default-layout"> 
 <head> 
  <title data-th-text="#{label_create_entity(#{label_orderdetail})}">Spring MVC RESTful
  - Create OrderDetail</title> 
  <!-- Select2 --> 
  <link rel="stylesheet" type="text/css" data-th-href="@{/webjars/select2/dist/css/select2.css}"> 
  <link rel="stylesheet" type="text/css" data-th-href="@{/webjars/select2-bootstrap-theme/dist/select2-bootstrap.css}">   
  <!-- DateTimePicker --> 
  <link rel="stylesheet" type="text/css" data-th-href="@{/webjars/datetimepicker/build/jquery.datetimepicker.min.css}"> 
 </head> 
 <body> 
  <!--START CONTAINER--> 
  <div class="container bg-container"> 
   <!--START CONTENT--> 
   <section data-layout-fragment="content"> 
    <div class="container-fluid content"> 
     <h1 data-th-text="#{label_create_entity(#{label_orderdetail})}">Create OrderDetail</h1> 
     <!--START FORM--> 
     <form class="form-horizontal" method="POST" data-th-object="${orderDetail}" 
           data-th-action="${(#mvc.url('CustomerOrdersItemDetailsThymeleafController#create')).buildAndExpand(customerOrder.getId())}"> 
      <fieldset> 
       <legend data-th-text="#{label_data_entity(#{label_orderdetail})}">OrderDetail data </legend> 
       <div class="form-group" data-th-classappend="${#fields.hasErrors('quantity')}? 'has-error has-feedback'"> 
        <label for="quantity" class="col-md-3 control-label" data-th-text="#{label_orderdetail_quantity}">quantity</label> 
        <div class="col-md-3"> 
         <input id="quantity" name="quantity" data-th-value="*{{quantity}}" type="text" class="form-control" placeholder="quantity" data-th-placeholder="#{label_orderdetail_quantity}" data-toggle="tooltip" /> 
         <span id="name-help" class="help-block alert" data-th-if="${#fields.hasErrors('quantity')}" data-th-errors="*{quantity}">Help message.</span> 
        </div> 
       </div> 
       <div class="form-group" data-th-classappend="${#fields.hasErrors('product')}? 'has-error has-feedback'"> 
        <label for="product" class="col-md-3 control-label" data-th-text="#{label_orderdetail_product}">Product</label> 
        <div class="col-md-6"> 
         <!-- Select2 -->
         <select data-th-field="*{product}" 
                 class="form-control dropdown-select-ajax"
                 style="width: 50%"
                 data-placeholder="Select an option"
                 data-allow-clear="true"
                 data-ajax--cache="true"
                 data-ajax--data-type="json"      
                 data-ajax--delay="250"
                 data-data-ajax--url="${(#mvc.url('ProductsCollectionThymeleafController#select2')).build()}"
                 data-data-placeholder="#{info_select_an_option}"
                 data-id-field="id">
           <option data-th-unless="*{product} == null" data-th-value="*{product.id}" 
                   data-th-text="*{product.name}" selected="selected">Product</option>
         </select> 
         <span id="name-help" class="help-block alert" data-th-if="${#fields.hasErrors('product')}" data-th-errors="*{product}">Help message.</span> 
        </div> 
       </div> 
       <!-- FORM BUTTONS --> 
       <div class="form-group"> 
        <div class="col-md-12"> 
         <div class="pull-left"> 
          <a class="btn btn-default" 
             data-th-href="${(#mvc.url('CustomerOrdersCollectionThymeleafController#list')).build()}" 
             data-th-text="#{label_reset}">Cancel</a> 
         </div> 
         <div class="pull-right"> 
          <input type="submit" value="Accept" data-th-value="#{label_submit}" class="btn btn-primary" /> 
         </div> 
        </div> 
       </div> 
      </fieldset> 
     </form> 
     <!--END FORM--> 
    </div> 
    <!--END CONTENT--> 
   </section> 
  </div> 
  <!--END CONTAINER--> 
  <div data-layout-fragment="javascript"> 

    <!-- DateTimePicker --> 
    <script data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script> 
    <script data-th-src="@{/public/js/datetimepicker-defaults.js}"></script> 
    <!-- jquery.inputmask --> 
    <script data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script> 
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
          function() {
            Inputmask.extendAliases({
              'numeric' : {
                 'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
                 'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
               },
               'currency' : {
                  'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
                  'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
                }
            });
          });
       })(jQuery);
    </script> 
    <script data-th-src="@{/public/js/inputmask-defaults.js}"></script> 
    <!-- JQuery Validation --> 
    <script data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
    </script> 
    <script data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
    </script> 
    <script data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'"
            data-th-if="${#locale.language} != 'en'">
    </script> 
    <script data-th-src="@{/public/js/validation-defaults.js}">
    </script> 
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
           jQuery.extend( jQuery.validator.messages, {
             'dateformat' : /*[[#{error_invalidDate}]]*/ 'Please enter a correct date/time',
             'inputmask': /*[[#{lerror_invalidMaskValue}]]*/ 'Please enter a valid value',
           });
         });
      })(jQuery);
    </script>
  </div> 
 </body> 
</html>