<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Select2</title>
</head>
<body>

  <div data-layout-fragment="select2">
    <!-- Select2 -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.js"
      data-th-src="@{/webjars/select2/4.0.2/dist/js/select2.full.js}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/i18n/es.js"
      data-th-src="@{/webjars/select2/4.0.2/dist/js/i18n/}+ ${#locale.language}+'.js'"
      data-th-if="${#locale.language} != 'en'"></script>

    <script type="text/javascript" charset="utf8" 
            src="../../static/public/js/select2-defaults.js"
            data-th-src="@{/public/js/select2-defaults.js}"></script>
  </div>
</body>
</html>
