<!DOCTYPE html>
<html lang="en" data-layout-decorator="layouts/default-layout">
	<head>
		<meta charset="UTF-8" data-th-remove="all"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" data-th-remove="all"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"
		  data-th-remove="all"/>
		<meta name="description"
		  content="A next-generation rapid application development tool for Java developers.
		  With Roo you can easily build full Java applications in minutes."
		  data-th-remove="all"/>
		<meta name="author"
		  content="Spring Roo Team"
		  data-th-remove="all"/>

    <link rel="shortcut icon" href="../../static/public/img/favicon.ico"
      data-th-remove="all"/>

    <link rel="apple-touch-icon" href="../../static/public/img/apple-touch-icon.png"
      data-th-remove="all"/>

		<title data-th-text="#{label_show_entity(#{label_customer})}">
		  Customer - Spring Roo application</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"
      data-th-remove="all"></link>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css"
      data-th-remove="all"></link>

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css"
	    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"
	    data-th-remove="all"/>

    <!-- Bootswatch CSS custom -->
    <link rel="stylesheet" type="text/css"
      href="../../static/public/css/theme.css"
      data-th-remove="all"/>

    <!-- Roo CSS -->
    <link rel="stylesheet" type="text/css"
      href="../../static/public/css/springroo.css"
      data-th-remove="all"/>

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	</head>
	<body id="body">

	  <!--CONTAINER-->
	  <div class="container bg-container">

	    <!-- HEADER -->
	    <header role="banner">

	      <!-- BANNER -->
        <div class="bg-header">
          <div class="jumbotron bg-banner">
              <div class="container">
                <h1 class="project-name">Spring Roo Application</h1>
                <p class="project-tagline" data-th-text="#{info_homepage_project}">Hello, this is your home page.</p>
              </div>
          </div>
        </div>

        <!-- Main navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">

            <!-- navbar-header -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="Spring Roo Application" href="/">
                  <img alt="Spring Roo Application" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs"><a href="/" data-th-href="@{/}">Spring Roo Application</a></div>

            </div>
            <!-- /navbar-header -->

            <!-- menu -->
            <div id="mainnav" class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Menu 1 active</a></li>
                <li><a href="#">Menu 2</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu 3 dropdown<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Submenu 1</a></li>
                    <li><a href="#">Submenu 2</a></li>
                    <li><a href="#">Submenu 3</a></li>
                  </ul>
                </li>
              </ul>

              <!-- Language -->
              <ul class="nav navbar-nav navbar-right upper-nav languages">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true">
                    </span>&nbsp;<span class="hidden-sm"
                    data-th-text="#{language_label}">Language</span><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" id="languageFlags">
                   <li id="enFlag"><a href="?lang=en"><img class="flag"
                    data-th-src="@{/public/img/en.png}" src="../../static/public/img/en.png"
                    alt="English">&nbsp;<span data-th-text="#{language_label_en}">English</span></a> </li>
                   <li id="esFlag"><a href="?lang=es"><img class="flag"
                    data-th-src="@{/public/img/es.png}" src="../../static/public/img/es.png"
                    alt="Spanish">&nbsp;<span data-th-text="language_label_es">Spanish</span></a> </li>
                 </ul>
               </li>
              </ul>

              <!-- User menu -->
				      <ul class="nav navbar-nav navbar-right upper-nav session">
				        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
				            role="button" aria-haspopup="true" aria-expanded="false"><span
				            class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<span
				            class="hidden-sm" data-sec-authentication="principal.username"
              				data-th-text="#{label_user}">User</span><span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#"><span class="glyphicon glyphicon-wrench"
				                aria-hidden="true"></span>&nbsp;<span data-th-text="#{label_profile}">Admin Profile</span></a></li>
				            <li><a href="#"><span class="glyphicon glyphicon-lock"
				                aria-hidden="true"></span>&nbsp;<span data-th-text="#{label_change_password}">Change password</span></a></li>
				            <li>
				              <form data-th-action="@{/logout}" action="/logout" method="post">
				                <button type="submit" class="btn btn-link">
				                 <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;<span
				                 data-th-text="#{label_logout}">Log out</span>
				                </button>
				              </form>
				            </li>
				         </ul>
				        </li>
				      </ul>
				      <!-- User menu links -->
				      <ul class="nav navbar-nav navbar-right upper-nav links">
				        <li><a href="#"><span class="glyphicon glyphicon-envelope"
				            aria-hidden="true"></span>&nbsp;<span class="hidden-sm"
				            data-th-text="#{label_contact}">Contact</span></a></li>
				        <li><a href="#"><span class="glyphicon glyphicon-question-sign"
				            aria-hidden="true"></span>&nbsp;<span class="hidden-sm"
				            data-th-text="#{label_help}">Help</span></a></li>
				      </ul>

           </div>

          </div>
        </nav>

	    </header>
	    <!-- /HEADER -->

	    <!--CONTENT-->
	    <section data-layout-fragment="content" data-th-object="${customerOrder}">
	      <div class="container-fluid content">

	        <!-- CONTENT -->
	        <h1 data-th-text="#{label_show_entity(#{label_customer})}">
	        Customer</h1>

            <ul class="list-unstyled">
              <li id="companyname">
                <strong data-th-text="#{label_customer_companyname}">Company</strong>
                <span data-th-text="*{companyName}">Company</span>
              </li>
              <li id="contactname">
                <strong data-th-text="#{label_customer_contactname}">Contact Name
                </strong>
                <span data-th-text="*{contactName}">Contact Name</span>
              </li>
              <li id="contacttitle">
                <strong data-th-text="#{label_customer_contacttitle}">Job</strong>
                <span data-th-text="*{contactTitle}">Job</span>
              </li>
              <li id="email">
	              <strong data-th-text="#{label_customer_email}">Email</strong>
	              <span data-th-text="*{email}">example@example.com</span>
	            </li>
              <li id="adress">
                <strong data-th-text="#{label_customer_address}">Address</strong>
                <span data-th-text="*{address}">Address</span>
              </li>
              <li id="country">
                <strong data-th-text="#{label_customer_country}">Country</strong>
                <span data-th-text="*{{country}}">Country</span>
              </li>
              <li id="region">
                <strong data-th-text="#{label_customer_region}">Region</strong>
                <span data-th-text="*{{region}}">Region</span>
              </li>
              <li id="city">
                <strong data-th-text="#{label_customer_city}">City</strong>
                <span data-th-text="*{{city}}">City</span>
              </li>
              <li id="postalcode">
                <strong data-th-text="#{label_customer_postalcode}">Postal code</strong>
                <span data-th-text="*{postalCode}">00000</span>
              </li>
              <li id="phone">
                <strong data-th-text="#{label_customer_phone}">Phone</strong>
                <span data-th-text="*{phone}">000 000 000</span>
              </li>
              <li id="fax">
                <strong data-th-text="#{label_customer_fax}">Fax</strong>
                <span data-th-text="*{fax}">000 000 000</span>
              </li>
            </ul>

	        <div class="clearfix">
	          <div class="pull-left">
	            <a id="store_list" href="list.html" class="btn btn-default"
	              data-th-href="@{/stores}"> <span
	              class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span
	              data-th-text="#{label_back}">Back</span>
	            </a>
	          </div>
	          <div class="pull-right">
	            <a id="store_edit" href="edit.html" class="btn btn-primary"
	              data-th-href="@{/stores/{storeId}/edit-form(storeId=*{id})}"
	              data-th-text="#{label_edit}">Edit</a>
	          </div>
	        </div>
	      </div>
	    </section>
	    <!-- /CONTENT-->

	  </div>
	  <!-- /CONTAINER-->

    <footer class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <small class="clearfix">
            Made with
            <a href="http://projects.spring.io/spring-roo/"
            target="_blank" data-th-text="Spring Roo © ${#calendars.format(#dates.createNow(),'yyyy')}|">
            Spring Roo &copy; 2016</a> •
            We <span class="glyphicon glyphicon-heart"></span>
            <a href="https://github.com/spring-projects/spring-roo/" target="_blank">Open source</a> •
            <a data-th-href="@{/accessibility}" href="../accessibility.html"><span data-th-text="#{label_accessibility}">Accessibility</span></a>
          </small>
        </div>
      </div>
      <!-- certified logos -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 text-right">

         <a title="Explanation of WCAG 2.0 Level Double-A Conformance"
            data-th-title="#{label_accessibility_title}"
            target="_blank"
            href="http://www.w3.org/WAI/WCAG2AA-Conformance">
            <img height="32" width="88"
                 src="http://www.w3.org/WAI/wcag2AA"
                 data-th-alt="#{label_accessibility_alt}"
                 alt="Level Double-A conformance, W3C WAI Web Content
                 Accessibility Guidelines 2.0">
         </a>
         &nbsp;
         <a title="Application developed and tested with OWASP -
             Open Web Application Security Project"
             data-th-title="#{label_owasp_title}"
            target="_blank"
            href="https://www.owasp.org">
          <img height="32" width="90"
               data-th-src="@{/public/img/owasp_logo.png}"
               src="../../static/public/img/owasp_logo.png"
               data-th-alt="#{label_owasp_alt}"
               alt="Application developed and tested with OWASP">
         </a>
        </div>
      </div>
    </footer>

	  <!-- JavaScript
	  ================================================== -->
	  <!-- Placed at the end of the document so that the pages load faster -->
	  <!-- JQuery -->
	  <script type="text/javascript" charset="utf8"
	    src="https://code.jquery.com/jquery-1.12.3.js"></script>

	  <!-- Bootstrap -->
	  <script type="text/javascript"
	    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" charset="utf8"
      src="../../static/public/js/ie10-viewport-bug-workaround.js"></script>

		<!-- MomentJS - date format -->
		<script
		  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js"
			data-th-src="@{/webjars/momentjs/2.13.0/moment.js}">
			</script>
	  <script src="../../static/public/js/moment-locale-es.js">
      </script>
		<script src="../../static/public/js/moment-defaults.js"
		  data-th-src="@{/public/js/moment-defaults.js}">
			</script>

	  <!-- Application -->
	  <script src="../../static/public/js/main.js"></script>

	</body>
</html>
