<!DOCTYPE html>
<html lang="en">
            <div id="mainEntityFieldSet" data-th-object="${owner}">
              <ul class="list-unstyled" id="containerFields">
                  <li id="owner-homepage-field" data-z="378ef0e8">
            	      <strong data-th-text="#{label_owner_homepage}">homePage</strong>
                    <span data-th-text="*{{homePage}}">homePageValue</span>
         	        </li>
                  <li id="owner-email-field" data-z="4f007356">
            	      <strong data-th-text="#{label_owner_email}">email</strong>
                    <span data-th-text="*{{email}}">emailValue</span>
         	        </li>
                  <li id="owner-birthday-field" data-z="853efec8">
            	      <strong data-th-text="#{label_owner_birthday}">birthDay</strong>
                    <span data-th-text="*{{birthDay}}">birthDayValue</span>
         	        </li>
                  <li id="owner-createddate-field" data-z="df2f72f6">
            	      <strong data-th-text="#{label_owner_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="owner-createdby-field" data-z="cfbfab96">
            	      <strong data-th-text="#{label_owner_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="owner-modifieddate-field" data-z="74bb1748">
            	      <strong data-th-text="#{label_owner_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="owner-modifiedby-field" data-z="4e2c3c68">
            	      <strong data-th-text="#{label_owner_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>
</html>
